
.header-content-inner>.container{
	margin-top: 30px;
}
.input-div{
	margin:auto;
	text-align: center;
}
.form-control{
	width: 400px;
	margin:auto;
}
.input-div{
	margin-bottom: 20px;
}
.col-lg-8, .col-lg-offset-2, .text-center{
	margin: auto;
	width: 100%;
}
.row{
	margin: auto;
}
.container{
	width: 80%;
	margin: auto;
}
